@using Bookstore;
@{ 
    AccountManager am = AccountManager.GetInstance();
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" type="text/css" href="website.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web:700' rel='stylesheet' type='text/css'>
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>
        <header>
            @RenderPage("~/Pages/Search.cshtml")
            @if (am.CurrentAccount != null)
            {
            <span id="cart">
                <a href="Cart.cshtml">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>   @am.CurrentAccount.Cart.Books.Count
                </a>
            </span>
            }
            
            @RenderPage("~/Pages/Login.cshtml")
        </header>
        <div id="content">
            <a href="index.cshtml"><img src="/images/title.png" title="Click here to return to the homepage." /></a><br />
            <!-- Make the bar here -->
            <div id="page">
                @RenderBody()
            </div>
        </div>
    </body>
</html>
