﻿@using Bookstore;
@using System.IO;
@{
    InventoryManager i = InventoryManager.GetInstance();
    AccountManager am = AccountManager.GetInstance();
    Book b = i.Filter(Request.QueryString["b"], Book.BookInfo.Isbn)[0];
    var bookimg = "/images/books/" + b.Info[(int)Book.BookInfo.Isbn] + ".jpg";
    var booktitle = b.Info[(int)Book.BookInfo.Title];

    if(IsPost){
        AccountManager a = AccountManager.GetInstance();
        var cart = a.CurrentAccount.Cart;
        // What kind of book, man?
        Book.BookType bt;
        switch (Request.Form["purchase"]){
            case "Purchase New":
                cart.AddBook(b, Book.BookType.New);
                break;
            case "Purchase Used":
                cart.AddBook(b, Book.BookType.Used);
                break;
            case "Purchase Rent":
                cart.AddBook(b, Book.BookType.Rent);
                break;
            case "Purchase Ebook":
                cart.AddBook(b, Book.BookType.Ebook);
                break;
            default:
                <h1>Everyone panic.</h1>
                break;
        }

        <script>
            alert("Added to cart!");
        </script>
    }
}
@using System.Diagnostics;
@{Layout="_Layout.cshtml";}
<img src="@bookimg" title="@booktitle" /><br />

@{ 
    string[] infoNames = Enum.GetNames(typeof(Book.BookInfo));
    string[] typeNames = Enum.GetNames(typeof(Book.BookType));
}
@for(int j = 0; j < b.Info.Length; j++)
{
    @(infoNames[j] + ": " + b.Info[j])<br />
}
<br />
@("Description: " + b.Description)<br />
<br />
@for(int j = 0; j < typeNames.Length; j++)
{
    @typeNames[j]<br />
    @("Quantity: " + b.GetQuantity((Book.BookType)j))<br />
    @("Price: $" + b.GetPrice((Book.BookType)j))<br />
    <form method="post">
        @if (am.CurrentAccount != null && b.IsAvailable((Book.BookType)j))
        {
            <input type="submit" name="purchase" value="@("Purchase " + typeNames[j])" onclick="alert()"/><br /><br />
        }
        else
        {
            <input type="submit" value="@("Purchase " + typeNames[j])" disabled /><br /><br />
        }
    </form>
}

<script>
    function alert()
    {
        window.alert("Added to cart!");
    }
</script>
