﻿@using Bookstore;
@using System.Diagnostics;
@{
    // Singletons everywhere are good enough for us (and work pretty well actually)
    AccountManager a = AccountManager.GetInstance();
    List<Book> cartBooks = a.CurrentAccount.Cart.Books;

    if(IsPost)
    {
        var index = Request.QueryString["r"];

        a.CurrentAccount.Cart.RemoveBook(int.Parse(index));
    }
}
@{Layout="_Layout.cshtml";}
<h2>Shopping Cart</h2>
<form action="Checkout.cshtml" method="post" accept-charset="utf-8">
    <table id="cart"> 
        <tr id="cart-header"><td>Author</td><td>Price</td><td>Type</td></tr>
        @for (int i = 0; i < cartBooks.Count; i++)
        {
        <tr>
            <td id="bookdata">
                @{var imgsrc = "/images/books/" + cartBooks[i].Info[(int)Book.BookInfo.Isbn] + ".jpg";}
                <img class='thumb' src='@imgsrc'></img>
                @cartBooks[i].Info[(int)Book.BookInfo.Title]<br>
                @cartBooks[i].Info[(int)Book.BookInfo.Author]
            </td>
            <td>@a.CurrentAccount.Cart.booktypes[i]</td>
            <td>@("$" + cartBooks[i].GetPrice(a.CurrentAccount.Cart.booktypes[i]))</td>
            <td>
                <input type="submit" name="remove" id="@i" value="Remove" formaction="~/Pages/Cart.cshtml?r=@i" />
            </td>
        </tr>
        }
        <tr><th>Total Price</th><td>@("$" + a.CurrentAccount.Cart.GetTotal())</td></tr>
    </table> 
    @if (cartBooks.Count == 0)
    {
        <input type="submit" value="Checkout" disabled/>
    }
    else if (a.CurrentAccount == a.guest)
    {
        <input type="submit" value="Checkout" />
    }
    else
    {
        <input type="submit" value="Checkout" formaction="~/Pages/CheckoutConfirm.cshtml"/>
    }
</form>
