﻿@{
    Layout = "_Layout.cshtml";
}
@using Bookstore;
@using System.Diagnostics;
@{ 
    AccountManager am = AccountManager.GetInstance();
    InventoryManager im = InventoryManager.GetInstance();
    bool validAccount;

    Debug.WriteLine(Request.Form["card"] == null);

    if (am.CurrentAccount == am.guest)
    {
        var firstName = Request.Form["FirstName"];
        var lastName = Request.Form["LastName"];

        am.CurrentAccount.Name = firstName + " " + lastName;

        var address = Request.Form["StreetAddress"];
        var city = Request.Form["City"];
        var state = Request.Form["State"];
        var zip = Request.Form["Zip"];

        am.CurrentAccount.Address = address + ", " + city + ", " + state + ", " + zip;

        am.CurrentAccount.Email = Request.Form["Email"];

        am.CurrentAccount.CardNumber = Request.Form["CCN"];
        am.CurrentAccount.CSC = Request.Form["CSC"];

        var month = Request.Form["month"];
        var year = Request.Form["year"];

        am.CurrentAccount.ExpDate = month + "/" + year;
    }

    if (Request.Form["card"] != null || am.CurrentAccount != am.guest)
    {
        validAccount = (am.CurrentAccount.isValidCardNumber() &&
                        am.CurrentAccount.isValidCSC() &&
                        am.CurrentAccount.isValidExpDate());
    }
    else if(Request.Form["paypal"] != null)
    {
        validAccount = (Request.Form["PaypalEmail"] != "" && Request.Form["PaypalPass"] != "");
    }
    else
    {
        validAccount = false;
    }

    if(validAccount)
    {
        
    }
}

<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <div>
        @if(validAccount)
        {
            if (am.CurrentAccount.Name == null || am.CurrentAccount.Address == null)
            {
                @("Please enter your name and address!")
            }
            else
            {
                Order o = new Order(am.CurrentAccount);
                o.RecordReceipt();

                for (int i = 0; i < am.CurrentAccount.Cart.Books.Count; i++)
                {
                    am.CurrentAccount.Cart.Books[i].Decrement(am.CurrentAccount.Cart.booktypes[i]);
                }
                im.Update();
                am.CurrentAccount.Cart.EmptyCart();

                @("Purchase completed! Your receipt will be emailed to you.")
            }
        }
        else
        {
            if (Request.Form["card"] != null)
            {
                @("Your card information was invalid. Please try again!")
            }
            else
            {
                @("Your paypal information was invalid. Please try again!")
            }
        }
    </div>
</body>
</html>
