﻿@{Layout="_Layout.cshtml";}
@using Bookstore;
@{
    var message="";
    // Specify validation requirements for different fields.
    Validation.RequireField("FirstName", "First name is required");
    Validation.RequireField("LastName", "Last name is required");
    Validation.RequireField("StreetAddress", "Street address is required");
    Validation.RequireField("City", "City is required");
    Validation.RequireField("State", "State is required");
    Validation.RequireField("Zip", "ZIP code is required");
    Validation.RequireField("Email", "Email address is required");
    if (IsPost && Validation.IsValid()) {
        Server.TransferRequest("~/Pages/CheckoutConfirm.cshtml" , true);
    }
}
<br><br><br><br>
<form method="post" accept-charset="utf-8">
    <label for="FirstName">First Name</label><input type="text" name="FirstName" value="" id="">
    <label for="LastName">Last Name</label><input type="text" name="LastName" value="" id=""> <br>
    <label for="StreetAddress">Street Address</label><input type="text" name="StreetAddress" value="" id=""> <br>
    <label for="City">City</label><input type="text" name="City" value="" id="City">
    <label for="State">State</label><input type="text" name="State" value="" id="State">
    <label for="Zip">ZIP Code</label><input type="text" name="Zip" value="" id="Zip"> <br>
    <label for="Email">Email</label><input type="email" name="Email" value="" id="Email"> 
    <hr>
    <!-- This should be a choice between the two. -->
    <div id="credit">
        <h1>Credit/Debit Card</h1>
        <label for="CCN">Credit Card Number</label><input type="text" name="CCN" value="" id="ccn">
        <label for="CSC">CSC</label><input type="text" name="CSC" value=""> 
        <select name="month" id="month" onchange="" size="1">
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
        </select> / 
        <select name="year">
            @for (int i = DateTime.Now.Year + 10; i > 1985 ; i--){
                <option value="@i">@i</option>
            }
        </select>
        <p><input type="submit" value="Checkout with card" name="card"></p>
    </div>    
    <div id="paypal">
        <h1>Paypal</h1>
        <label for="Email">Email</label><input type="text" name="PaypalEmail" id="Email" /><br />
        <label for="Password">Password</label><input type="password" name="PaypalPass" id="Password"/><br />
        <p><input type="submit" value="Checkout with Paypal" name="paypal" /></p>
    </div>
</form>
