﻿@using Bookstore;
@using System.IO;
@{ 
    InventoryManager i = InventoryManager.GetInstance();
    AccountManager a = AccountManager.GetInstance();

    string message = "";
}
@using System.Diagnostics;
@{Layout="_Layout.cshtml";}

<br />
<h2>Featured Books</h2>
