﻿<!--Login Information-->
@using Bookstore;
@{ 
    AccountManager a = AccountManager.GetInstance();
}
<span id="login">
    <form action="~/Pages/LoginConfirm.cshtml" method="post">
        @if(a.CurrentAccount == null)
        {
            <input id="id" type="text" name="id" placeholder="KSU NetID"/>
            <input id="pass" type="password" name="pass" placeholder="Password" />
            <input type='submit' id="" value="Login" name="login"/>
            <input type='submit' id="" value="Login as Guest" name="login"/>
        }
        else
        {
            @("Welcome, " + a.CurrentAccount.NetID)
            <input type="submit" formaction="~/Pages/LogoutConfirm.cshtml" value="Log out" />
        }
    </form>
</span>
