﻿@using Bookstore;
@{ 
    AccountManager am = AccountManager.GetInstance();
}

<div id="logout">
    <form action="~/Pages/LogoutConfirm.cshtml" method="post">
        @{ 
            string welcome = "Welcome, " + am.CurrentAccount.NetID;
            @welcome<br />
        }
        <input type="submit" value="Log out" />
    </form>
</div>
