﻿@using Bookstore;
@{
    InventoryManager im = InventoryManager.GetInstance();
    var category = Request.Form["category"];
    Book.BookInfo info = Book.BookInfo.Isbn;
    switch (category){
        case "isbn":
            break;
        case "title":
            info = Book.BookInfo.Title;
            break;
        case "author":
            info = Book.BookInfo.Author;
            break;
        case "course":
            info = Book.BookInfo.Course;
            break;
        case "professor":
            info = Book.BookInfo.Professor;
            break;
    }
    List<Book> results = im.Filter(Request.Form["query"], info);
}

@{Layout="_Layout.cshtml";}
<!--List of Search Results-->
<div>
    <div id="results">
        @foreach (var book in results)
        {
            var bookisbn = book.Info[(int)Book.BookInfo.Isbn];
            var bookimg = "/images/books/" + bookisbn + ".jpg";
            <div class="result">
                <a href="Book.cshtml?b=@bookisbn"> <img class="thumb" src="@bookimg"/> </a> 
                <div>
                    <a href="Book.cshtml?b=@bookisbn">@book.Info[(int)Book.BookInfo.Title]</a> <br />
                    <span id="author">by @book.Info[(int)Book.BookInfo.Author]</span> <br />
                </div>
            </div>
        }
    </div>
</div>
