﻿<!--Search Bar-->
<span id="search">
    <form action="~/Pages/Results.cshtml" method="post">
        <input id="query" type="text" name="query" placeholder="Search..."/>
        <select name="category">
            <option value="title">Title</option>
            <option value="isbn">ISBN</option>
            <option value="author">Author</option>
            <option value="course">Course</option>
            <option value="professor">Professor</option>
        </select>
        <button type='submit' id="search-button"><i class="fa fa-search" aria-hidden="true"></i></button>
    </form>
</span>

