﻿body {
    background-image: url('/images/background.png');
    margin: 0;
}

/* Navigation bar */
header {
    background: #ffffff;
    height: 50px;
    width: auto;
    padding: 0px 20px 0px 20px;
}

header span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-family: Arial;
}

span#cart{
    text-align: right;
    float: right;
    margin-left: 5px;
    color: grey;
    font-size: x-large;
}

span#login {
    text-align: right;
    float: right;
}

span#search {
    float: left;
}

span input[type=text], span input[type=password]{
    border: none;
    border-bottom: 2px solid grey;
}

input#query {
    width: 300px;
}

button#search-button {
    background:none;
    border: none;
    font-size: large;
    color: grey;
}
input[type=button], input[type=submit], input[type=reset]{
    border: none;
}

/* Page divisions */
#content {
    background: #ffdf1f;
	font-family: Arial;
	text-align: center;
	position: relative;
	width: 80%;
    height: auto;
	padding: 20px;
	margin: auto;
	border-style: double;
	border-width: 15px;
	border-color: black;
    overflow: auto;
}
#page{
    text-align:left;
}

/* Results page */
#results {
    text-align:center;
}

a img {
    margin: auto;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
}

img.thumb {
    width: 75%;
    padding: 5px;
    height: auto;
}


h1 {
    font-family: Titillium Web, Arial;
    font-size: 40px;
    margin: 0;
    padding: 0;
}
h2 {
    font-family: Tillium Webdings, Arial;
    font-size: 50px;
    position: relative;
    margin-left: auto;
    margin-top: 50px;
   
}
ul {
    list-style-type: none;
    text-align: left;
}
li {
    padding: 20px;
}
a {
    text-decoration: none;
}
a:hover {
    color: #ff0000;
}

.result {
    padding: 10px;
    width: 300px;
    height: 450px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background: white;
    display: inline-block;
    margin: auto;
    text-align: center;
}
.result>img {
    width: auto;
}
.result>div {
    margin:auto;
}

.result>div>a { font-size: x-small; }

#author {
    font-size: xx-small;
}

#button {
    background-color: black;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    float: left;
    color: white;
    border-width: 4px;
    border-color: #808080;
    border-style: solid;
    height: auto;
}
#button:hover {
    background-color:white;
    color: black;
    text-decoration: none;
}

/* ShoppingCart.cshtml */
table#cart {
    width: 80%;
    margin: auto;
    background: #fff;
}

table#cart tr#cart-header {
    font-size: x-large;
}

